---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$white: #fff;
$black: #000;
$blue: #99ccff;
$yellow: #c7ff6f;
$pastel-yellow: #ffff99;
$darkGray: #121212;
$accentGray: #333;
$textGray: #dcdcdc;
$commentGray: #555;

$monospace: "Courier New", Courier, monospace;
$serif: 'Crimson Text', serif;
$title: 'Julius Sans One', sans-serif;





// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "skeleton",
        "print",
        "icons",
        "styles"
;
