---
layout: default
title: Andrew Maul. Developer, Writer, Artist.
---

  <div class="row">
    <div class="twelve columns">

      <!-- Giant Logo -->
      <img src="../image/logo.svg" alt="logo" class="logo" />

      <!-- Animated Typewriter Container -->

      <div class="homepage-animation">

      </div>

      <!-- Navigation -->

      <nav class="row">
        <div class="four columns left"><a href="{{ site.baseurl }}/" class="active">< projects /></a></div>
        <div class="four columns center"><a href="+{{ site.baseurl }}/about">< resume/about /></a></div>
        <div class="four columns right"><a href="{{ site.posts.first.url }}">< blog /></a></div>
      </nav>

      <!-- Masonry Section of Interests -->
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% for post in site.posts %}
          {% if post.featured == true %}
            <div class="grid-item {{ post.gridClass }}"><a href="{{ post.url }}"><img src="{{ site.baseurl }}/image/assets/{{ post.imageName }}" alt="" class="outline"></a></div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Footer -->

  {% include footer.html %}

<!-- Masonry Script Load -->
<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="../js/imagesLoaded.min.js"></script>
<script type="text/javascript">
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    gutter: '.gutter-sizer',
    percentPosition: true
  });
  $grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
  });
</script>