---
layout: default
title: Andrew Maul. Developer, Writer, Artist.
---

  <!-- Giant Logo -->
  <img src="../image/logo.svg" alt="logo" class="logo" />

  <!-- Animated Typewriter Container -->

  <div class="homepage-animation">

  </div>

  <!-- Navigation -->

  <nav>
    <a href="{{ site.baseurl }}/" class="active">< projects /></a>
    <a href="+{{ site.baseurl }}/about">< resume/about /></a>
    <a href="{{ site.posts.first.url }}">< blog /></a>
  </nav>

  <!-- Masonry Section of Interests -->
  <div class="grid">
    <div class="grid-sizer"></div>
    {% for post in site.posts %}
      {% if post.featured == true %}
        <div class="grid-item-25"><a href="post.url"><img src="{{ site.baseurl }}/image/assets/{{ post.image }}" alt=""></a></div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Footer -->

  {% include footer.html %}

<!-- Masonry Script Load -->
<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/masonry.pkgd.min.js"></script>
<script type="text/javascript">
  $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
</script>
