---
layout: default
title: Andrew Maul. Developer, Writer, Artist.
---

  <div class="row">
    <div class="twelve columns">

      <!-- Giant Logo -->
      <div class="logo center">
        <img src="../image/logo.svg" alt="logo" />
      </div>

      <!-- Animated Typewriter Container -->

      <div class="homepage-animation center">
        <input class="typing" type="text" disabled />
      </div>

      <!-- Navigation -->

      <nav class="nav row">
        <div class="four columns left"><a href="{{ site.baseurl }}/" class="active no-underline shadows">< projects /></a></div>
        <div class="four columns center"><a href="{{ site.baseurl }}/about" class="no-underline shadows">< about /></a></div>
        <div class="four columns right"><a href="{{ site.posts.first.url }}" class="no-underline pull-left shadows">< blog /></a></div>
      </nav>

      <!-- Masonry Section of Interests -->
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% for post in site.posts %}
          {% if post.featured == true %}
            <div class="grid-item">
              <a href="{{ post.url }}">
                <div class="animation-wrapper outline">
                  <img src="{{ site.baseurl }}/image/assets/{{ post.imageName }}" alt="" class="animation-{{ post.animation }}">
                </div>
              </a>
              <div class="hidden overlay">
                <div class="overlay-info">
                  <a href="{{ post.url }}" class="no-underline shadows info-link">{{ post.overlayTitle }}</a>
                  <a href="{{ post.url }}" class="no-underline shadows info-icon">
                    {% for entry in post.icons %}
                      <span class="icon-{{entry}} icon"></span>
                    {% endfor %}
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>