<div class="projectContainer">
	<div class="projectHead">
		<h4>Adventure.js</h4>
		<p><em>Web App</em></p>
	</div>
	<div class="projectBody">
		<p><a href="http://www.andrewmaul.com/fun/adventure.html" target="new">Link to Demo</a><br />
		Adventure.js is a personal project I started with two goals: practice working with javascript objects/inheritance and jQuery in general. What better environment to practice that than a game? Games have a lot of overhead, though, so I opted to create a simple text-adventure. It's browser-based, contains a handful of "rooms" to explore, and even a monster to fight! This project was written entirely from scratch, with javascript mixins provided by <a href="http://brendanerquiaga.github.io/about.html" target="new">Brendan Erquiaga</a>.
		</p>
		<img src="../image/Synoscrape_1.gif" class="responsive">
	</div>
</div>
