<div class="contentHead">
	<h4>Dice Roller</h4>
	<p><em><a href="http://www.andrewmaul.com/fun/DiceRoller/index.html" target="new">Web App</a></em></p>	
	<hr>
</div>

<p>Dice Roller started out as practice in writing JavaScript. I decided to remake the very first program I ever wrote: a dice-rolling simulation in visual basic. After I scripted the functionality for a cube I decided to push it as far as I could and recreate all six of the original D&D dice. Currently fully-functional in Chrome, Safari, and Opera.</p>
<img src="../image/DiceRoller_1.jpg" class="responsive">


