<footer class="footer">
  <div class="row">
    <div class="three columns left">
      <div class="email"> <span class="icon-envelope2 icon"></span> <span class="email-address">andymaul123@gmail.com</span></div>
    </div>
  <div class="six columns center footer-content">
      All content &copy; Andrew Maul {{ site.year }}. Hosted on <a href="https://netlify.com" target="new">Netlify</a>.
    </div>
  <div class="three columns right social">
        <a href="https://twitter.com/andymaul123" target="new" class="no-underline footer-link"><span class="icon-twitter icon"></span></a>
        <a href="https://github.com/andymaul123" target="new" class="no-underline footer-link"><span class="icon-github icon"></span></a>
        <a href="https://www.linkedin.com/in/andymaul" target="new" class="no-underline footer-link"><span class="icon-linkedin2 icon"></span></a>
    </div>
  </div>
</footer>
