



<div class="projectContainer">
	<div class="projectHead">
		<h4>HeroCraft: Ascendant's Path</h4>
		<p><em>Board Game</em></p>
	</div>
	<div class="projectBody">
		<p><a href="http://imgur.com/a/nKR54" target="new">Link to Imgur Gallery</a><br />HeroCraft is a two-to-six player board game in which players build a hero from Attributes and adventure through the land of Crucible. Players may play cooperatively and party-up, remain neutral and explore independently, or even backstab and raid each other. The goal of the game is to acquire ten Power, which can be done by slaying Heroic Monsters, completing Quests, and finding long-lost Relics.</p>
		<p>HeroCraft has undergone extensive play-testing over several years and is now fully entrenched in the art production phase. A website will be launched to explain the game and garner interest as I continue to work toward the ultimate goal of manufacturing and selling.</p>
		<p>In the meanttime, though, the link above takes you to an image dump of cards I've acquired artwork for. Enjoy!</p>
		<img src="../image/herocraft.jpg" class="responsive">
	</div>
</div>


