<div class="projectContainer">
	<div class="projectHead">
		<h4>Mauler Monsters, LLC.</h4>
		<p><em>Website &amp; Marketing</em></p>
	</div>
	<div class="projectBody">
	<p><a href="http://www.maulermonsters.com/" target="new">Link to Website</a><br />
	Mauler Monsters, LLC. is a small business that manufactures the Zombie Hugger™ costume line. They needed a small business website, logo design, and marketing materials created to launch their business at a tradeshow. Here are a few examples of the work I've done, which includes six 40" x 60" posters, signs, business cards, invoices, and more.</p>
	<p>I designed the website to showcase the incredible detail of their product. The site is fully responsive, including support for the embedded video, and uses PayPal's shopping cart features to handle online transactions.</p>
	<div class="row">
		<div class="four columns">
			<img src="../image/MM_1.png" class="responsive">
			
		</div>
		<div class="four columns">
			<img src="../image/MM_2.png" class="responsive">
		</div>
		<div class="four columns">
			<img src="../image/MM_3.png" class="responsive">
		</div>
	</div>
	</div>
</div>

