<!-- <nav class="post-nav row">
    <div class="two columns left"><a href="{{ site.baseurl }}/" class="active no-underline shadows">< projects /></a></div>
    <div class="two columns left"><a href="+{{ site.baseurl }}/about" class="no-underline shadows">< about /></a></div>
    <div class="eight columns left"><a href="{{ site.posts.first.url }}" class="no-underline pull-left shadows">< blog /></a></div>
</nav> -->

<nav class="post-nav">
    > //<a href="{{ site.baseurl }}/" class="no-underline shadows">projects</a>/<a href="+{{ site.baseurl }}/about" class="no-underline shadows">about</a>/<a href="{{ site.posts.first.url }}" class="no-underline shadows active">blog</a>/
</nav>