<!-- jQuery Script Load -->
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>

<!-- Macy.js for image tiling -->
<script type="text/javascript" src="{{ site.baseurl }}/js/macy.min.js"></script>
<script type="text/javascript">
    if($('body').hasClass('projects')) {
        Macy({
            container: '.grid',
            trueOrder: false,
            waitForImages: false,
            margin: 10,
            columns: 3,
            breakAt: {
                1919: 2,
                767: 1
            }
        });
    }
</script>

<!-- Fullscreen API Script Load -->
<script type="text/javascript">
$(document).ready(function(){
    $('.fullscreen').on('click', function(){
        var elem = document.getElementsByClassName('fullscreen')[0];
        if(document.webkitFullscreenElement) {
          document.webkitCancelFullScreen();
        }
        else {
          elem.webkitRequestFullScreen();
        };
      });
});
</script>
<!-- Homepage Animation -->
<script type="text/javascript">
    $(document).ready(function(){
        var input = $('.typing');
        var msg = "Developer. Writer. Artist.";
        var count = 0;
        // var msgArray = msg.split("");

        var func = setInterval(function(){ 
            $(input).val(msg.slice(0,count));
            if (count >= msg.length) {
                clearInterval(func);
                $(input).addClass('fadeToWhite');
            } else {
                count++;
            }
        }, 125);
    });
</script>

