<!-- jQuery Script Load -->
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>

<!-- Masonry Script Load -->
<script type="text/javascript" src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/imagesLoaded.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer'
  });
  $grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
  });
});
</script>
<!-- Fullscreen API Script Load -->
<script type="text/javascript">
$(document).ready(function(){
    $('.fullscreen').on('click', function(){
        var elem = document.getElementsByClassName('fullscreen')[0];
        if(document.webkitFullscreenElement) {
          document.webkitCancelFullScreen();
        }
        else {
          elem.webkitRequestFullScreen();
        };
      });
});
</script>
<!-- Homepage Animation -->
<script type="text/javascript">
    $(document).ready(function(){
        var input = $('.typing');
        var msg = "Writer. Developer. Artist.";
        var count = 0;
        // var msgArray = msg.split("");

        var func = setInterval(function(){ 
            $(input).val(msg.slice(0,count));
            if (count >= msg.length) {
                clearInterval(func);
                $(input).addClass('fadeToWhite');
            } else {
                count++;
            }
        }, 125);
    });
</script>

