<!-- jQuery Script Load -->
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>

<!-- Macy.js for image tiling -->
<script type="text/javascript" src="{{ site.baseurl }}/js/macy.min.js"></script>

<!-- Prism.js syntax highlighting -->
<script type="text/javascript" src="{{ site.baseurl }}/js/prism.js"></script>

<!-- Macy init -->
<script type="text/javascript">
    if( $('body').hasClass('projects') || $('body').hasClass('post-grid')) {
        Macy({
            container: '.grid',
            trueOrder: false,
            waitForImages: false,
            margin: 10,
            columns: 3,
            breakAt: {
                1919: 2,
                767: 1
            }
        });
    }
</script>

<!-- Fullscreen API Script Load -->
<script type="text/javascript">
$(document).ready(function() {
    var elem = document.getElementsByClassName('fullscreen')[0];

    $('.fullscreen').on('click', function() {


        if(elem && document.fullscreenElement) {
             if(document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
             }
             if(document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
             }
             if(document.msCancelFullScreen) {
                document.msCancelFullScreen();
             }
        }

        if(elem && !document.fullscreenElement) {
             if(document.webkitCancelFullScreen) {
                elem.webkitRequestFullScreen();
             }
             if(document.mozCancelFullScreen) {
                elem.mozRequestFullScreen();
             }
             if(document.msCancelFullScreen) {
                elem.msRequestFullScreen();
             } 
        }
    });

    $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange MSFullscreenChange', function() {
        console.log("fullscreen fired");
        if(elem && document.fullscreenElement) {
             $(elem).children('.photo').addClass('isFullscreen');
        }

        if(elem && !document.fullscreenElement) {
             $(elem).children('.photo').removeClass('isFullscreen');
        }

    });


});
</script>
<!-- Homepage Animation -->
<script type="text/javascript">
    $(document).ready(function(){
        var input = $('.typing');
        var msg = "Developer. Writer. Artist.";
        var count = 0;
        // var msgArray = msg.split("");

        var func = setInterval(function(){ 
            $(input).val(msg.slice(0,count));
            if (count >= msg.length) {
                clearInterval(func);
                $(input).addClass('fadeToWhite');
            } else {
                count++;
            }
        }, 125);
    });
</script>

