@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fmjlzc');
  src:  url('fonts/icomoon.eot?fmjlzc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fmjlzc') format('truetype'),
    url('fonts/icomoon.woff?fmjlzc') format('woff'),
    url('fonts/icomoon.svg?fmjlzc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2.5rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e907";
}
.icon-envelope2:before {
  content: "\e908";
}
.icon-art:before {
  content: "\e900";
}
.icon-write:before {
  content: "\e901";
}
.icon-code:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-linkedin2:before {
  content: "\e905";
}
