//Reset styles for printing
@media print {
    * { 
    background: transparent !important; 
    color: #000 !important; 
    text-shadow: none !important; 
    filter:none !important; 
    -ms-filter: none !important; 
    background-image: none;
    }
    html, body {
        margin: 0;
    }
    .container {
        width: 100%;
        border: none;
        padding: 0!important;
        margin: 0!important;
    }
    p, h1, h2, h3, li {
        color: #000!important;
    }
    header, nav, footer, .logo, .homepage-animation {
        display: none;
    }
    .about-top {
        display: none!important;
    }
    .resume {
        &:before {
            display: none!important;
        }
        &:after {
            display: none!important;
        }
        .icon {
            display: none!important;
        }
    }
    .blog, .archives {
        float: none;
        width: 100%;
        margin: 0;
    }
}