/* These styles are overrides to the base skeleton template */

body {
    font-family: 'Crimson Text', serif;
    color: $white;
    background-color: $darkGray;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    font-family: "Courier New", Courier, monospace;
    color: $yellow;
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $blue;
  font-family: "Courier New", Courier, monospace;
}
a:hover {
  color: $yellow;
}

/* Misc */

.logo {
    
}