/* These styles are overrides to the base skeleton template */

body {
    font-family: $serif;
    color: $textGray;
    background-color: $darkGray;
    font-size: 1.6rem;
    line-height: 1.5;
}
.container {
    margin-top: 3rem;
    max-width: 1140px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    //font-family: $monospace;
    font-family: $title;
    color: $white;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  //color: $blue;
  //font-family: $monospace;
  font-family: $serif;
  color: $pastelYellow;

  &:hover {
    color: $blue;
    transition: all 0.5s linear;
  }
}

/* Home Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo {
    img {
        width: 25%;
        margin: 3rem;
    }
}
.nav {
    a {
        font-size: 2rem;
        text-decoration: none;
        font-family: $monospace;
    }
}
.homepage-animation {
    margin-bottom: 5rem;
    .typing {
        width: 50%;
        font-family: $monospace;
        text-align: center;
        background: $black;
        border-radius: 5px;
        border: 1px solid $accentGray;
        color: #ffff99;
        font-size: 2rem;
        padding: 5px 10px;
        transition: all 2s linear;
        &.fadeToWhite {
            color: $white;
            border-color: $darkGray;
            background: $darkGray;
        }
    }
}
.grid {
    margin-bottom: 3rem;
}
.grid-sizer {
    width: 50%;
}
.grid-item {
    width: 50%;

    a {
        display: block;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    img {
        width: 100%;
        display: block;
    }
    .animation-wrapper {
        overflow: hidden;
        width: 100%;
    }
    .animation-center, .animation-left {
        transform: scale(1);
        transition: all 2.5s ease;
    }
    &:hover {
        .overlay {
            display: block;
            visibility: visible;
            opacity: 1;
            height: calc(100% - 11px);
            width: calc(100% - 10px);
            transition: visibility 0s, opacity 0.5s linear;
        }
        .animation-center, .animation-left {
            transform: scale(1.1);
            transition: all 2.5s ease;
        }
        .animation-center {
            transform-origin: center center;
        }
        .animation-left {
            transform-origin: left center;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 1px;
        height: calc(100% - 10px);
        width: calc(100% - 8px);
        background: -webkit-linear-gradient(hsla(0,0%,100%,0) 67%, hsla(0,0%,0%,0.85) 99%, hsla(0,0%,0%,0.85) 100%);
        background: -o-linear-gradient(hsla(0,0%,100%,0) 67%, hsla(0,0%,0%,0.85) 99%, hsla(0,0%,0%,0.85) 100%);
        background: linear-gradient(hsla(0,0%,100%,0) 67%, hsla(0,0%,0%,0.85) 99%, hsla(0,0%,0%,0.85) 100%);
        pointer-events: none;
    }
    .overlay-info {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        .info-link, .info-icon {
            position: absolute;
            font-size: 2rem;
            font-family: $title;
            color: $pastelYellow;
            pointer-events: auto;
            padding: 0;
        }
        .info-link {
            bottom: 5px;
            left: 5%;
        }
        .info-icon {
            bottom: 2px;
            right: 5%;
        }
    }
}
.footer {
    border-top: 1px solid $accentGray;
    padding: 1rem 2rem;
    letter-spacing: 0.05rem;
    .footer-link {
        font-size: 1.3rem;
    }
}
.footer-content {
    font-size: 1.3rem;
}
.email {
    display: table;
}
.icon-envelope, .icon-envelope2 {
    display: table-cell;
    width: 3.5rem;
    vertical-align: middle;
    font-size: 3rem;
}
.email-address {
    display: table-cell;
    vertical-align: middle;
}
.social {
    a {
        margin-right: 1.5rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

/* Post-specific styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post-nav, .post-nav a {
    font-family: $monospace;
    font-size: 1.5rem;
    color: $commentGray;
    & a {
        opacity: 0.5;
        color: $pastelYellow;
        cursor: pointer;
        &:hover {
            opacity: 1;
            transition: all 0.5s linear;
            color: $blue;
        }
        &.active {
            color: $blue;
        }
    }
}
.post-nav {
    margin-bottom: 2rem;
}
.fullscreen {
    position: relative;
    cursor: pointer;
    margin-bottom: 2.5rem;
    &:-webkit-full-screen {
        .icon-enlarge {
            display: none;
        }
    }
}
.dropcap {
    float: left;
    font-size: 9rem;
    line-height: 7.2rem;
    padding: 0 5px 0 0;
}
.icon-enlarge {
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 0.5;

}
.blog h1 {
    margin-bottom: 0;
}
.archives li {
    list-style: none;
    margin-bottom: 2rem;
    padding-bottom: 5px;
    border-bottom: 1px solid $accentGray;
}
.post-date {
    font-family: $title;
    color: $white;
    margin-bottom: 0;
}

/* About Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.portrait {
    float: right;
    border-radius: 50%;
    width: 200px;
    margin-left: 3rem;
    margin-top: -6rem;
    margin-bottom: 1rem;
}
.resume {
    position: relative;
    background: $resumeBlack;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0px 40px 40px 0px;
        border-style: solid;
        border-color: $darkGray $darkGray $accentGray $resumeGray;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
        display: block;
        width: 0;
    }
    &:after {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        border-width: 40px 0px 0px 40px;
        border-style: solid;
        border-color: $darkGray $darkGray $resumeGray $resumeGray;
        display: block;
        width: 0;
    }
    .logo {
        max-width: 100px;
    }
    .sub-head {
        margin-bottom: 6rem;
        font-family: $monospace;
        color: $pastelYellow;
        font-size: 2rem;
    }
    h1 {
        margin-bottom: 0;
    }
    h2 {
        font-size: 2rem;
        font-family: $title;
        color: $white;
        border-bottom: 1px solid $accentGray;
        padding-bottom: 0.5rem;
    }
    .skills-list {
        margin: 0;
        li {
            display: inline-block;
            margin: 0 2rem 0 0;
        }
        &:last-child {
            margin-bottom: 2rem;
        }
    }
    .info-block {
        padding-left: 2rem;
        margin-bottom: 2.5rem;
        h3, h3 a {
            font-size: 1.8rem;
            font-family: $monospace;
            color: $pastelYellow;
            margin: 0 0 0.5rem 0;
        }
        h3 a {
            &:hover {
                color: $blue;
                transition: all 0.5s linear;
            }
        }
        p {
            margin: 0;
        }
        .position {
            margin: 0 0 1rem 0;
            em {
                margin-right: 2rem;
            }
        }
    }
}

/* Modular, atomic-style classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.outline {
    border-width: 1px;
    border-style: solid;
    border-color: $accentGray;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.pull-left {
    margin-right: 5px;
}
.hidden {
    visibility: collapse;
    opacity: 0;
    height: 0;
}
.no-underline {
    text-decoration: none;
}
.shadows {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.active {
    color: $blue;
}
.photo {
    height: auto;
    max-width: 100%;
    display: block;
}
.crimson {
    font-family: $serif;
}