/* These styles are overrides to the base skeleton template */

body {
    font-family: 'Crimson Text', serif;
    color: $white;
    background-color: $darkGray;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    font-family: "Courier New", Courier, monospace;
    color: $yellow;
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: $blue;
  font-family: "Courier New", Courier, monospace;
}
a:hover {
  color: $yellow;
}

/* Misc */

.logo {
    
}
.grid-sizer {
    width: calc(25% - 10px);
}
.grid-item {
    margin: 5px 0;
    img {
        width: 100%;
        display: block;
    }
}
.grid-item-100 {
    width: calc(100% - 10px);
}
.grid-item-75 {
    width: calc(75% - 10px);
}
.grid-item-50 {
    width: calc(50% - 10px);
}
.grid-item-25 {
    width: calc(25% - 10px);
}
.outline {
    border-width: 1px;
    border-style: solid;
    border-color: $accentGray;
}


